@import 'components/templates/home/home';


.section_stories {
  padding: 15rem 0;
  position: relative;
  width: 100%;

  @include responsive(tab-port) {
    padding: 8rem 0;
  }
}

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .15);
  background-color: rgba($color-white, .6);
  border-radius: 3px;
  padding: 6rem 6rem 6rem 8rem;
  font-size: 1.7rem;
  transform: skewX(-12deg);


  @include responsive(tab-port) {
    width: 100%;
    padding: 4rem 4rem 4rem 6rem;
  }

  @include responsive(phone) {
    transform: skewX(0);
  }

  & > * {
    transform: skewX(12deg);
    @include responsive(phone) {
      transform: skewX(0);

    }
  }

  &_shape {
    width: 12rem;
    height: 12rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: skewX(12deg) translateX(-5rem);
    position: relative;

    @include responsive(tab-port) {

    }

    @include responsive(phone) {
      transform: skewX(0) translateX(-1rem);
    }

  }

  &_img {
    height: 100%;
    transform: translateX(-3rem) scale(1.4);
    transition: .5s;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &_text {
    transform: skewX(12deg);
    @include responsive(phone) {
      transform: skewX(0);

    }
  }

  &_caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 5%);
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: center;
    color: $color-white;
    opacity: 0;
    transition: all .5s;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &:hover &_caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &_img {
    transform: translateX(-3rem) scale(1);
    -webkit-filter: blur(3px) brightness(80%);
    filter: blur(3px) brightness(80%);
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}


.bg_video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden;

  &_content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}